In [1]:
l=["name","email_id","phone_no","address"]

In [4]:
for i in l:
    print(i)
else:
    print("if for loop is going to complete then it will come to else")

name
email_id
phone_no
address
if for loop is going to complete then it will come to else

else statement will be executed after the whole for loop is completed

In [6]:
for i in l:
    if i =="phone_no":
        break
    print(i)
else:
    print("if for loop is going to complete then it will come to else")

name
email_id

Else is not executed because whole for loop is not exhausted

In [9]:
a="gayyyyy"
for i in a:
    print(i)
    if i=="a":
        break
else:
    print("Print only if its gayyy")

g
a

In [10]:
a=1
while a<10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9

In [11]:
a=1
while a<10:
    if a ==4:
        break
    print(a)
    a=a+1

1
2
3

In [14]:
a=1
while a<10:
    print(a)
    a=a+1
    if a ==3:
        continue

1
2
3
4
5
6
7
8
9

In [15]:
range(6)

range(0, 6)

In [16]:
l=[]
l.append(range(4))

In [17]:
l

[range(0, 4)]

In [18]:
l=list(range(6))

In [19]:
l

[0, 1, 2, 3, 4, 5]

In [24]:
list(range(-4,-15,-2))

[-4, -6, -8, -10, -12, -14]

In [25]:
list(range(10,6,-1))

[10, 9, 8, 7]

In [29]:
for i in range(-2,-10,-9):
    print(i)

-2

In [30]:
range(1.00,5.00,0.50)

TypeError: 'float' object cannot be interpreted as an integer

In [46]:
n=10
for i in range(0,n):
    for j in range(0, i+1):
        print("*", end =" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [77]:
n=5
m=10
for i in range(0,n):
    print("  "*m, end=" ")
    for j in range(0,i+1):
        print(" ","*",end ="")
    m=m-1
    print("\r")

                       *
                     *  *
                   *  *  *
                 *  *  *  *
               *  *  *  *  *

In [78]:
s = "ineuron"
for i in s:
    print(i)

i
n
e
u
r
o
n

In [88]:
for i in range(len(s),-1,-1):
    print(i, s[i-1])

7 n
6 o
5 r
4 u
3 e
2 n
1 i
0 n

In [92]:
d ={"A":"apple", "B":"Ball", "C":"ddadad"}

In [93]:
for i in d:
    print(i)

A
B
C

In [94]:
for i in d:
    print(i,d[i])

A apple
B Ball
C ddadad

In [95]:
for i in d.items():
    print(i)

('A', 'apple')
('B', 'Ball')
('C', 'ddadad')

In [97]:
s={1,3,4,5,2,44,2,9,33,2,2222,2,222221,234,4,3}

In [98]:
for i in s:
    print(i)

1
2
3
4
5
33
9
234
44
222221
2222