In [1]:
import sqlite3

In [2]:
db = sqlite3.connect("New database")

In [3]:
c=db.cursor()

In [4]:
c.execute("create table mytable(name text, batchit int, marks real)")

In [5]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 44BD-A86A

 Directory of C:\Users\MSI\Untitled Folder

04/25/2022  01:09 PM    <DIR>          .
04/25/2022  01:09 PM    <DIR>          ..
04/25/2022  01:07 PM    <DIR>          .ipynb_checkpoints
04/25/2022  01:05 PM             8,192 ineuron.db
04/11/2022  08:26 AM            12,288 joindb.db
04/11/2022  08:30 AM             8,720 joindb.db-journal
04/04/2022  03:08 PM            19,796 Mongodb.ipynb
04/25/2022  01:09 PM             8,192 New database
04/25/2022  01:05 PM            12,288 person.db
04/25/2022  01:07 PM            20,840 SQL lite.ipynb
04/25/2022  01:07 PM                72 Untitled.ipynb
               8 File(s)         90,388 bytes
               3 Dir(s)  68,313,866,240 bytes free

In [9]:
c.execute("insert into mytable values('Aditya',6,100)")

In [12]:
c.execute("insert into mytable values('Aditya',6,100)")
c.execute("insert into mytable values('Aditya',6,100)")
c.execute("insert into mytable values('Aditya',6,100)")
c.execute("insert into mytable values('Aditya',6,100)")
c.execute("insert into mytable values('Aditya',6,100)")
c.execute("insert into mytable values('Aditya',6,100)")

In [28]:
for i in c.execute("select * from mytable"):
    print(i)

OperationalError: no such table: mytable

In [15]:
db.commit()

In [31]:
db.close()

In [32]:
db=sqlite3.connect("New database.db")

In [33]:
c=db.cursor()

In [35]:
c.execute("create table mytable(name text, batchit int, marks real)")

In [36]:
c.execute("insert into mytable values('Aditya',6,00)")
c.execute("insert into mytable values('Aditya',6,50)")
c.execute("insert into mytable values('Aditya',6,100)")
c.execute("insert into mytable values('Aditya',6,200)")
c.execute("insert into mytable values('Aditya',6,300)")
c.execute("insert into mytable values('Aditya',6,400)")

In [42]:
for i in c.execute("select name,marks from mytable where marks >100 order by marks "):
    print(i)

('Aditya', 200.0)
('Aditya', 300.0)
('Aditya', 400.0)

In [43]:
db=sqlite3.connect("person.db")

In [44]:
c=db.cursor()

In [46]:
for i in c.execute("select * from person_table"):
    print(i)

('A', 'Aklkaflkj', 5454, 455454.0)
('V', 'adadkdddlkj', 777, 455454.0)
('j', 'adadkdddlkj', 77, 45546544.0)
('p', '455454lkj', 468, 100004.0)
('A', 'Aklkaflkj', 5454, 455454.0)
('V', 'adadkdddlkj', 777, 455454.0)
('j', 'adadkdddlkj', 77, 45546544.0)
('p', '455454lkj', 468, 100004.0)

In [48]:
db.commit()

In [49]:
for i in c.execute("select * from person_table limit 3"):
    print(i)

('A', 'Aklkaflkj', 5454, 455454.0)
('V', 'adadkdddlkj', 777, 455454.0)
('j', 'adadkdddlkj', 77, 45546544.0)

In [50]:
for i in c.execute("select * from person_table"):
    print(i)

('A', 'Aklkaflkj', 5454, 455454.0)
('V', 'adadkdddlkj', 777, 455454.0)
('j', 'adadkdddlkj', 77, 45546544.0)
('p', '455454lkj', 468, 100004.0)
('A', 'Aklkaflkj', 5454, 455454.0)
('V', 'adadkdddlkj', 777, 455454.0)
('j', 'adadkdddlkj', 77, 45546544.0)
('p', '455454lkj', 468, 100004.0)

In [2]:
import sqlite3

In [3]:
db=sqlite3.connect("joindb.db")

In [4]:
c=db.cursor()

In [5]:
c.execute("create table student(student_id int, student_name text, student_mail text, marks int)")
c.execute("create table address(student_id int,pincode int, location text, nearby text,phone_no int)")

OperationalError: table student already exists

In [12]:
c.execute("insert into student values(7,'Bditya','Bditya@1.com',79)")
c.execute("insert into student values(8,'Cditya','Cditya@1.com',89)")
c.execute("insert into student values(9,'Cditya','Cditya@1.com',89)")
c.execute("insert into student values(10,'Cditya','Cditya@1.com',89)")
c.execute("insert into student values(11,'Cditya','Cditya@1.com',89)")

OperationalError: database is locked

In [ ]:
db.commit()

In [13]:
dta=c.execute("select * from student")

In [14]:
for i in dta:
    print(i)

In [15]:
db.close()

In [16]:
db=sqlite3.connect("join.db")

In [17]:
c=db.cursor()

In [18]:
c.execute("create table first(name text,pincode int,country text)")

In [19]:
c.execute("create table second(pincode int,continent text)")

In [21]:
c.execute("insert into first values('AAAAAA',111,'india')")
c.execute("insert into first values('BBBBBB',333,'india')")
c.execute("insert into first values('CCCCCC',222,'india')")
c.execute("insert into first values('DDDDDD',555,'india')")

In [23]:
c.execute("insert into second values(111, 'asia')")

In [24]:
c.execute("insert into second values(333, 'asia')")
c.execute("insert into second values(444, 'europe')")
c.execute("insert into second values(555, 'africa')")

In [25]:
for i in c.execute("select * from first"):
    print(i)

('AAAAAA', 111, 'india')
('BBBBBB', 333, 'india')
('CCCCCC', 222, 'india')
('DDDDDD', 555, 'india')

In [28]:
for i in c.execute("select f.name,s.continent from first f left join second s where f.pincode = s.pincode"):
    print(i)

('AAAAAA', 'asia')
('BBBBBB', 'asia')
('DDDDDD', 'africa')

In [33]:
for i in c.execute("select * from first f left join second s on f.pincode = s.pincode"):
    print(i)

('AAAAAA', 111, 'india', 111, 'asia')
('BBBBBB', 333, 'india', 333, 'asia')
('CCCCCC', 222, 'india', None, None)
('DDDDDD', 555, 'india', 555, 'africa')

In [37]:
for i in c.execute("select * from first f left join second s on f.pincode = s.pincode where s.pincode is not null"):
    print(i)

('AAAAAA', 111, 'india', 111, 'asia')
('BBBBBB', 333, 'india', 333, 'asia')
('DDDDDD', 555, 'india', 555, 'africa')

In [36]:
for i in c.execute("select * from first f left join second s on f.pincode = s.pincode where s.pincode >200"):
    print(i)

('BBBBBB', 333, 'india', 333, 'asia')
('DDDDDD', 555, 'india', 555, 'africa')

In [38]:
for i in c.execute("select * from first f right join second s on f.pincode = s.pincode"):
    print(i)

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

right join is not possible in sqlite

In [39]:
c.execute("delete from first where pincode>554")

In [40]:
for i in c.execute("select * from first"):
    print(i)

('AAAAAA', 111, 'india')
('BBBBBB', 333, 'india')
('CCCCCC', 222, 'india')

In [41]:
c.execute("select * from first").fetchall()

[('AAAAAA', 111, 'india'), ('BBBBBB', 333, 'india'), ('CCCCCC', 222, 'india')]

In [42]:
c.execute("update first set name='QQQQQQQ' where pincode=111")

In [43]:
c.execute("select * from first").fetchall()

[('QQQQQQQ', 111, 'india'), ('BBBBBB', 333, 'india'), ('CCCCCC', 222, 'india')]

In [49]:
l=[1,2,4]
l1=[]
for i in l:
    l1.append(i+5)

In [50]:
l1

[6, 7, 9]

In [51]:
[i+5 for i in l]

[6, 7, 9]

# map function

In [52]:
def test(a):
    return a+5

In [54]:
list(map(test, l))

[6, 7, 9]

In [55]:
def tes(a):
    return a*a

In [56]:
list(map(tes,l))

[1, 4, 16]

In [57]:
l1=['123','2222','2223']

In [58]:
def test3(a):
    return(int(a))

In [61]:
list(map(test3,l1))

[123, 2222, 2223]

In [63]:
list(map(lambda a:int(a),l1))

[123, 2222, 2223]

lambda function:

In [65]:
g=lambda x:x*x

In [66]:
g(2)

4

# filter function

In [68]:
def test4(a):
    if a%2==0:
        return a

In [70]:
l=[1,2,34,4,5,6,33,0]

In [71]:
#comprehension statement
[i for i in l if i%2==0]

[2, 34, 4, 6, 0]

In [72]:
list(filter(test4,l))

[2, 34, 4, 6]

Map takes all objects in a list and allows you to apply a function to it whereas Filter takes all objects in a list and runs that through a function to create a new list with all objects that return True in that function.

In [73]:
list(filter(lambda x:x%2==0,l))

[2, 34, 4, 6, 0]

In [75]:
#nothing happens, no change
list(filter(lambda x:x+2,l))

[1, 2, 34, 4, 5, 6, 33, 0]

In [76]:
list(filter(lambda x:x%3==0,l))

[6, 33, 0]

# reduce function

In [77]:
from functools import reduce

In [94]:
l=[2,3,3,45,5,66,22]

In [79]:
sum(l)

146

In [80]:
def test5(a,b):
    return a+b

In [81]:
reduce(test5,l)

146

In [83]:
def test6(a,b,c):
    return a+b+c

In [84]:
reduce(test6,l)

TypeError: test6() missing 1 required positional argument: 'c'

reduce consider 2 arguments
but with one element, it considers second as 0

In [91]:
l=[8]

In [92]:
reduce(test5,l)

8

In [95]:
reduce(lambda x,y:x+y ,l)

146

In [96]:
l=[1,2,3,4,5,6]

In [99]:
l1=["a","b","c","d","e","f"]

In [100]:
list(zip(l,l1))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f')]

In [101]:
l2=[6,5,6,6]

In [102]:
list(zip(l,l1,l2))

[(1, 'a', 6), (2, 'b', 5), (3, 'c', 6), (4, 'd', 6)]

# task:

In [ ]:
q1: try to count of every word-tupple form
q2: reduce operation to get a count of all the words starting with same alphabet in one list
    sample- [(a,56),(b,8)]
q3: filter all words(no numbers or puntuation)
q4: create a tuple of all records of 5 files and store in sqlite db (dfjdhf,sdfds,dd) zip